<!-- Modal -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Factura</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Id: </strong>{{selectedBill.id}}</p>
        <p><strong>Monto: </strong>{{selectedBill.monto}}</p>
        <p><strong>Descripcion: </strong>{{selectedBill.descripcion}}</p>
        <p><strong>Estado: </strong></p>
        <div *ngIf="selectedBill.pago; else elseBlock" class="text-success">Pagada</div>
        <ng-template #elseBlock>
            <div class="text-danger">Pendiente</div>
        </ng-template>

        <ng-container *ngIf="selectedBill.pago">
            <p>Datos del Pago:</p>
            <div class="p-3">    
                <p><strong>Monto: </strong>{{selectedBill.pago.monto}}</p>
                <p><strong>Fecha: </strong>{{selectedBill.pago.createdDate}}</p>
            </div>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button *ngIf="AuthenticationService.hasRole('Admin') && !selectedBill.pago" type="button" class="btn btn-warning" (click)="pay(selectedBill.id)"><i class="fab fa-paypal"></i> Pagar con
            PayPal</button>
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>

<div class="card border-0 shadow rounded-3 my-5">
    <div class="card-body p-4 p-sm-5">
        <h4 class="card-title fw-light fs-5">Factura</h4>

        <div>
            <table
                class="table table-borderless table-responsive table-dark table-striped align-middle table-hover m-0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let factura of facturas; index as i" class="align-middle">
                        <th scope="row">{{i}}</th>
                        <td>{{factura.createdDate}}</td>
                        <td>{{factura.monto}}</td>
                        <td>{{factura.descripcion}}</td>
                        <td class="text-right">
                            <button class="btn btn-dark ml-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                (click)="open(content, factura)"><i class="fas fa-bars"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="size" [(page)]="page"
                [boundaryLinks]="true" (pageChange)="onPageChange(page)"></ngb-pagination>
        </div>
    </div>
</div>