<div class="card border-0 shadow rounded-3 my-5">
    <div class="card-body p-4 p-sm-5">
        <h4 class="card-title fw-light fs-5">Factura</h4>

        <div>
            <table
                class="table table-borderless table-responsive table-dark table-striped align-middle table-hover m-0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let factura of facturas; index as i" class="align-middle">
                        <th scope="row">{{i}}</th>
                        <td>{{factura.createdDate}}</td>
                        <td>{{factura.monto}}</td>
                        <td>{{factura.descripcion}}</td>
                        <td class="text-right">
                            
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="size" [(page)]="page"
                [boundaryLinks]="true" (pageChange)="onPageChange(page)"></ngb-pagination>
        </div>
    </div>
</div>