<div class="bg-image d-flex justify-content-center align-items-center shadow-1-strong rounded text-white"
    style="width: 100%; height: 70vh; margin-top: 10px; background-size: 100% 100%; background-image: url('https://cdn.wallpapersafari.com/24/54/QmhVkx.jpg')"
    alt="">
    <h1>Bienvenid@ a AccessApp</h1>
</div>

<div class="row justify-content-center">

    <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body">
            <div>
                <select class="form-control mb-3" #select (change)="onChangeTenant(select.value)">
                    <option value="" selected>Seleccione una Institucion</option>
                    <option *ngFor="let tenant of tenants" [value]="tenant.id">{{tenant.socialReason}}
                    </option>
                </select>
            </div>

            <app-carrusel [novelties]="novelties"></app-carrusel>

            <div class="mt-3">
                <app-eventos-institucion [events]="events"></app-eventos-institucion>
            </div>
        </div>
    </div>
</div>