<div class="card border-0 shadow rounded-3 my-5">
    <div class="card-body p-4 p-sm-5">
        <h4 class="card-title fw-light fs-5">Salones</h4>
        <hr class="my-4">
        <button type="button" class="btn btn-warning mb-4" [routerLink]="'nuevo'">Agregar</button>
        <div class="table-responsive">
            <table class="table table-borderless table-dark table-striped align-middle table-hover m-0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let salon of salones; index as i" class="align-middle">
                        <th scope="row">{{i}}</th>
                        <td>{{salon.name}}</td>
                        <td class="text-right">
                            <button class="btn btn-info ml-2" [routerLink]="'/eventos/salon/' + salon.id"><i
                                    class="fas fa-calendar-day"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="size" [(page)]="page"
                [boundaryLinks]="true" (pageChange)="onPageChange(page)"></ngb-pagination>
        </div>
    </div>
</div>