<div class="card border-0 shadow rounded-3 my-5">
  <div class="card-body p-4 p-sm-5">
    <h4 class="card-title fw-light fs-5">Dashboard</h4>
    <hr class="my-4">
    <ul class="nav flex-column">
      <li class="nav-item" *ngIf="AuthenticationService.hasRole('SuperAdmin')">
        <a class="nav-link" routerLink="/instituciones">Instituciones</a>
      </li>
      <li class="nav-item" *ngIf="AuthenticationService.hasRole('SuperAdmin') || AuthenticationService.hasRole('Admin')">
        <a class="nav-link" routerLink="/usuarios">Usuarios</a>
      </li>
    </ul>
  </div>
</div>