<div class="card border-0 shadow rounded-3 my-5">
    <div class="card-body p-4 p-sm-5">
        <h4 class="card-title fw-light fs-5">Puertas</h4>
        <hr class="my-4">
        <button type="button" class="btn btn-warning mb-4" [routerLink]="'/nuevainstitucion'">Agregar</button>
        <div class="row">
            <div class="card bg-light col-md-2" style="margin: 10px;">
                <div class="card-body text-center">
                    <h2><i class="fa fa-door-open fa-2x"></i></h2>
                    <p class="card-text text-warning ">Nombre Puerta</p>
                    <button type="button" class="btn btn-warning">Ver</button>
                </div>
            </div>
            <div class="card bg-light col-md-2" style="margin: 10px;">
                <div class="card-body text-center">
                    <h2><i class="fa fa-door-open fa-2x"></i></h2>
                    <p class="card-text text-warning ">Nombre Puerta</p>
                    <button type="button" class="btn btn-warning">Ver</button>
                </div>
            </div>
            <div class="card bg-light col-md-2" style="margin: 10px;">
                <div class="card-body text-center">
                    <h2><i class="fa fa-door-open fa-2x"></i></h2>
                    <p class="card-text text-warning ">Nombre Puerta</p>
                    <button type="button" class="btn btn-warning">Ver</button>
                </div>
            </div>
            <div class="card bg-light col-md-2" style="margin: 10px;">
                <div class="card-body text-center">
                    <h2><i class="fa fa-door-open fa-2x"></i></h2>
                    <p class="card-text text-warning ">Nombre Puerta</p>
                    <button type="button" class="btn btn-warning">Ver</button>
                </div>
            </div>
            <div class="card bg-light col-md-2" style="margin: 10px;">
                <div class="card-body text-center">
                    <h2><i class="fa fa-door-open fa-2x"></i></h2>
                    <p class="card-text text-warning ">Nombre Puerta</p>
                    <button type="button" class="btn btn-warning">Ver</button>
                </div>
            </div>
            <div class="card bg-light col-md-2" style="margin: 10px;">
                <div class="card-body text-center">
                    <h2><i class="fa fa-door-open fa-2x"></i></h2>
                    <p class="card-text text-warning ">Nombre Puerta</p>
                    <button type="button" class="btn btn-warning">Ver</button>
                </div>
            </div>
            <div class="card bg-light col-md-2" style="margin: 10px;">
                <div class="card-body text-center">
                    <h2><i class="fa fa-door-open fa-2x"></i></h2>
                    <p class="card-text text-warning ">Nombre Puerta</p>
                    <button type="button" class="btn btn-warning">Ver</button>
                </div>
            </div>
            <div class="card bg-light col-md-2" style="margin: 10px;">
                <div class="card-body text-center">
                    <h2><i class="fa fa-door-open fa-2x"></i></h2>
                    <p class="card-text text-warning ">Nombre Puerta</p>
                    <button type="button" class="btn btn-warning">Ver</button>
                </div>
            </div>
        </div>
    </div>
</div>