<div class="card border-0 shadow rounded-3 my-5">
    <div class="card-body p-4 p-sm-5">
        <h4 class="card-title fw-light fs-5">Puertas</h4>
        <hr class="my-4">
        <button type="button" class="btn btn-warning mb-4" [routerLink]="'agregarPuerta'">Agregar</button>
        <div class="row">
            <div *ngFor="let puertas of doors" class="card bg-dark col-md-2" style="margin: 10px;">
                <div class="card-body text-center">
                    <h2><i class="fa fa-door-open text-warning"></i></h2>
                    <h5 class="card-text text-warning ">{{puertas.name}}</h5>
                    <!-- <button type="button" class="btn btn-warning">Ver</button> -->
                </div>
            </div>
        </div>
    </div>
</div>