<div style="text-align:center">
    <div>
        <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
            *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)">
        </webcam>
        <br />
        <div class="row my-3" *ngIf="deviceId">
            <div class="col">
                <button type="button" class="btn btn-success" (click)="triggerSnapshot();">Tomar Foto</button>
            </div>
        </div>
    </div>
</div>