<nav class="navbar-collapse navbar navbar-dark bg-dark navbar-expand-lg shadow">
    <div class="container">
        <a class="navbar-brand" routerLink="" href="#">AccessApp <small *ngIf="AuthenticationService.getSocialReason()" class="text-muted">// {{AuthenticationService.getSocialReason()}}</small></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="AuthenticationService.hasRole('SuperAdmin') || AuthenticationService.hasRole('Admin')">
                    <a class="nav-link" aria-current="page" routerLinkActive="active"
                        routerLink="/dashboard">Dashboard</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <div *ngIf="!AuthenticationService.isLogged(); else sesioniniciada">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/iniciarSesion" routerLinkActive="active">Iniciar Sesion</a>
                    </li>
                </div>

                <ng-template #sesioniniciada>
                    <li class="nav-item">
                        <a class="nav-link">{{AuthenticationService.getUser()}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logOut()">Salir</a>
                    </li>
                </ng-template>

            </ul>
        </div>
    </div>
</nav>