<div class="card border-0 shadow rounded-3 my-5">
    <div class="card-body p-4 p-sm-5">
        <h4>Edificio</h4>
        <hr class="my-4">
        <form [formGroup]="buildingForm" (ngSubmit)="submit()">

            <div class="form-group">
                <label>Nombre</label>
                <input type="text" name="name" class="form-control" formControlName="name">
            </div>

            <div>
                <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onClickChange($event)">
                    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                </agm-map>
            </div>

            <hr class="my-4">
            <div class="row">
                <div class="col"><button class="btn btn-dark btn-block" (click)="location.back()"
                        type="button">Cancelar</button></div>
                <div class="col"><button class="btn btn-warning btn-block" type="submit">Confirmar</button></div>
            </div>
        </form>
    </div>
</div>