<div class="card border-0 shadow rounded-3 my-5">
    <div class="card-body p-4 p-sm-5">
        <h4>Ingreso</h4>
        <hr class="my-4">
        <form [formGroup]="ingresoForm" (ngSubmit)="submit()">

            <button type="button" class="btn btn-warning mb-4" routerLink="/personas/nuevo">Agregar Persona</button>
            <div class="">
                <table class="table table-borderless table-responsive table-dark table-striped align-middle table-hover m-0">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let persona of personas; index as i" class="align-middle">
                            <th scope="row">{{i}}</th>
                            <td>{{persona.document}}</td>
                            <td>{{persona.name}}</td>
                            <td>{{persona.lastName}}</td>
                            <td class="text-right">
                                <button type="button" class="btn btn-primary"
                                    *ngIf="(selectedPersona && selectedPersona.id != persona.id) || !selectedPersona; else elseBlock"
                                    (click)="select(persona)">Seleccionar</button>

                                <ng-template #elseBlock>
                                    <button type="button" class="btn btn-success">Seleccionada</button>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <ngb-pagination class="d-flex justify-content-end" [collectionSize]="size" [(page)]="page"
                    [boundaryLinks]="true" (pageChange)="onPageChange(page)"></ngb-pagination>
            </div>
            <hr class="my-4">

            <div class="row">
                <div class="col"><button class="btn btn-dark btn-block" (click)="location.back()"
                        type="button">Cancelar</button></div>
                <div class="col"><button class="btn btn-danger btn-block" (click)="clear()" type="button">Limpiar</button>
                </div>
                <div class="col"><button class="btn btn-warning btn-block" type="submit">Confirmar</button></div>
            </div>
        </form>
    </div>
</div>