<div class="card border-0 shadow rounded-3 my-5">
    <div class="card-body p-4 p-sm-5">
        <h4 class="card-title fw-light fs-5">Ingresos</h4>
        <hr class="my-4">

        <button type="button" *ngIf="AuthenticationService.hasRole('Portero')" class="btn btn-warning mb-4" [routerLink]="'/ingresos/nuevo'">Agregar</button>
        <div class="table-responsive">
            <table class="table table-borderless table-dark table-striped align-middle table-hover m-0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of entries; index as i" class="align-middle">
                        <th scope="row">{{i}}</th>
                        <td>{{entry.person?.name}}</td>
                        <td>{{entry.person?.lastName}}</td>
                        <td>{{entry.createdDate | date : 'short'}}</td>
                        <td class="text-right">
                            <button type="button" class="btn btn-danger" (click)="delete(entry.id)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>

            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="size" [(page)]="page" [boundaryLinks]="true" (pageChange)="onPageChange(page)"></ngb-pagination>
        </div>
    </div>
</div>