h4 {
    margin: 20px 10px 0px 10px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    
}

.card.img {
    height: 100%;
}

.col-3 {
    padding-top: 10px !important; 
}

.col-md-4{
    align-items: center;
    
}

.card-body {
    align-items: center !important;
}

.col-md-8 {
    align-items: center !important;
}
