
<div class="row">
    <div class="col-3 border-right">
        <h4>Ultimas Noticias</h4>
        <hr class="my-4">
        <div class="card mb-3" >
            <div class="row no-gutters">
                <div class="col-md-4" >
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                        class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" >
            <div class="row no-gutters">
                <div class="col-md-4" >
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                        class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" >
            <div class="row no-gutters">
                <div class="col-md-4" >
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                        class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" >
            <div class="row no-gutters">
                <div class="col-md-4" >
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                        class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" >
            <div class="row no-gutters">
                <div class="col-md-4" >
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                        class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" >
            <div class="row no-gutters">
                <div class="col-md-4" >
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                        class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    
    <div class="col">

    </div>
</div>

<!--

<div>
    <div class="row">
        <div class="col-md-auto">
            <div class="row justify-content-center align-items-center">
                <h3>Ultimas Noticias</h3>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                                class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <a class="btn btn-warning">Button</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

        </div>
        <div class="col col-lg-2">

        </div>
    </div>

</div>





                 <div class="card mb-2">
                        <img class="card-img-top"
                            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                            <a class="btn btn-warning">Button</a>
                        </div>
                    </div>
-->