<div class="card border-0 shadow rounded-3 my-5">
    <div class="card-body p-4 p-sm-5">
        <h4>Institución</h4>
        <hr class="my-4">
        <form [formGroup]="institucionForm" (ngSubmit)="submit()">
            <div class="form-group">
                <label>Razon Social</label>
                <input type="text" class="form-control" formControlName="socialReason">
            </div>
            <div class="form-group">
                <label>RUT</label>
                <input type="text" class="form-control" formControlName="rut">
            </div>
            <div class="form-group">
                <label>Producto</label>
                <select class="form-control" formControlName="productId">
                    <option value="">Seleccione un Producto</option>
                    <option *ngFor="let product of products" [value]="product.id">{{product.name}}
                    </option>
                </select>
            </div>

            <hr class="my-4">
            <div class="row">
                <div class="col"><button class="btn btn-dark btn-block" (click)="location.back()"
                        type="button">Cancelar</button></div>
                <div class="col"><button class="btn btn-warning btn-block" type="submit">Confirmar</button></div>
            </div>
        </form>
    </div>
</div>