<!-- Modal -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Notificaciones</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container *ngIf="notifications.length > 0; else elseBlock">
            <ul class="list-group pb-4">
                <li *ngFor="let notification of notifications" class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{notification.message}}</h5>
                        <small>{{notification.createdDate}}</small>
                    </div>
                    <small class="card-link" routerLink="/personas/nuevo">Agregar Persona</small>
                </li>
            </ul>
            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="size" [(page)]="page"
                [boundaryLinks]="true" (pageChange)="onPageChange(page)"></ngb-pagination>
        </ng-container>
        <ng-template #elseBlock>
            <ul class="list-group">
                <li class="list-group-item">No hay Notificaciones</li>
            </ul>
        </ng-template>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>

<div class="nav-link" (click)="open(content)"><i class="fa fa-bell"></i> {{size}}</div>