/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin: 0; }
body { 
    margin: 0;
    font-family: 'Raleway', sans-serif;
    opacity: 1;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #eeeeee 0, #eeeeee 1px, #e9e9e9 0, #e9e9e9 50%);
}

.card {
    border-radius: 20px;
}

table {
    border-radius: 10px;
}