<!-- Modal -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{selectedTenant.socialReason}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" [routerLink]="'/nuevainstitucion/' + selectedTenant.id"
            (click)="modal.close()">Editar</button>
        <button type="button" class="btn btn-danger" (click)="delete(selectedTenant.id)">Eliminar</button>
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>

<div class="card border-0 shadow rounded-3 my-5">
    <div class="card-body p-4 p-sm-5">
        <h4 class="card-title fw-light fs-5">Instituciones</h4>
        <hr class="my-4">
        <button type="button" class="btn btn-warning mb-4" [routerLink]="'/nuevainstitucion'">Agregar</button>
        <div class="table-responsive">
            <table class="table table-borderless table-dark table-striped align-middle table-hover m-0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Rut</th>
                        <th scope="col">Razon Social</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tenant of tenants; index as i" class="align-middle">
                        <th scope="row">{{i}}</th>
                        <td>{{tenant.rut}}</td>
                        <td>{{tenant.socialReason}}</td>
                        <td>
                            <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                (click)="open(content, tenant)"><i class="bi bi-list"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>

            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="size" [(page)]="page" [boundaryLinks]="true" (pageChange)="onPageChange(page)"></ngb-pagination>
        </div>
    </div>
</div>